body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 1rem;
  /* 
    @include respond(phone) {
      width: 0;
      display: none;
    } */
}

body::-webkit-scrollbar-track {
  background-color: #272b30;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  /* 
    @include respond(tab-port) {
      box-shadow: none;
    } */
}

body::-webkit-scrollbar-thumb {
  background-color: #575a5e;
  border-radius: 6px;
}

main {
  min-height: 80vh;
}

.fas,
.far {
  padding-right: 0.35rem;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
}

.rating span {
  margin: 0.1rem;
}

.form-control-sm {
  background-color: #1c1d1f3b;
  color: #b5b8bb;
}
